doctype html
html
  meta(charset='utf-8')
  // Load d3.js
  script(src='http://d3js.org/d3.v4.js')
  // Create a div where the graph will take place
#my_dataviz
script.
    var dt = !{data}
    var tab = []
    for(var i = 0;i<dt.donnes.length;i++){
    tab.push(dt.donnes[i].use)
    }